*{
  background-color: goldenrod;
}

h1{
  text-align: center;
  margin-top: 30px;
  text-decoration: dotted;
}

.button{
  font-size: 30px;
  background-color: green;
  color: black;
  padding: 12px 15px;
 
  font-weight: bold;
  border-color: brown;
  margin: 2px;
  
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  


}

.button:hover{
  background-color: darkviolet;
  color: red;
  cursor: pointer;
}

img{
  padding-left: 20px;
}